#errores {
    background-color: #ffe5e5;   
    color: #b30000;              
    border: 1px solid black;   
    padding: 10px;
    width: 400px;               
    margin-top: 10px;           
    border-radius: 5px;          
    font-weight: bold;          
}

.ocultar{
    display: none;
}


.fallo{
    border: 2px solid red;
}