.selectorColores_css button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.selectorColores_css {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#selectorColores {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lienzo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabla_lienzo {
  margin-top: 50px;
  background-color: rgb(243, 243, 243);
}

.celdas_lienzo {
  width: 20px;
  height: 20px;
}

.btn_borrado {
  margin-bottom: 1000px;
  color: white;
  background-color: red;
  font-weight: bold;
  font-style: italic;
  height: 50px;
  width: 100px;
}

.btn_borrado:hover {
  margin-bottom: 1000px;
  color: white;
  background-color: rgb(112, 0, 0);
  font-weight: bold;
  font-style: italic;
  height: 50px;
  width: 100px;
}