.Pelicula_css{
    border: 2px solid rgb(10, 108, 116); 
    padding: 10px;           
    border-radius: 8px;
    background-image: url("https://i.pinimg.com/1200x/37/2b/f6/372bf64417819addf4e7545a5ee6877c.jpg");
    width: 975px;
    margin-bottom: 20px;
}
.estilo_p{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    margin-bottom: 15px;
}
p{
    margin-bottom: 10px;
}