#contenedorPiezasPuzzle {
  background-color: rgb(184, 184, 184);
  margin-bottom: 20px;
}
#contendorPanelJuego {
  display: flex;
  justify-content: center; 
  align-items: center;
}
.img_css {
  width: 180px;
  height: 180px;
}

.estilosTabla {
  background-color: bisque;
  width: 180px;
  height: 180px;
}
