#contenedorPiezasPuzzle {
  background-color: rgb(184, 184, 184);
  margin-bottom: 20px;
}
#contendorPanelJuego {
  display: flex;
  flex-direction: column;  
  justify-content: center; 
  align-items: center;   
  gap: 10px;      
}
.img_css {
  width: 180px;
  height: 180px;
}

.estilosTabla {
  background-color: bisque;
  width: 180px;
  height: 180px;
}

.btnReinicio_css{
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: rgb(255, 255, 146);
  border-radius: 12px;
}

.btnReinicio_css:hover{
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: rgb(197, 197, 99);
  border-radius: 12px;
}

.estiloTexto-DeVictoria{
position: fixed; 
    top: 50%;        
    left: 50%;       
    transform: translate(-50%, -50%);
  background-color: rgb(87, 192, 87);
  color: white;
  border-radius: 12px;
  padding: 8px 16px;
  margin-top: 200px;
}